.registration_form {
    width: 527.8px;
    height: 480px;
}
.container {
    width: 485px;
    height: 409px;
    display: block;
    margin: auto;
}
.full_name, .info {
    display: flex;
    width: 486px;
    height: 42px;
}
.first_name, .info_nationality, .date_of_bday {
    width: 243px;
}

